    <v-footer
      padless
    >
      <v-card
        flat
        tile
        class="white lighten-1 white--text text-center"
      >
        <v-card-text>


        </v-card-text>
  
        <v-card-text class="black--text pt-0">
          Bienvenue sur notre site de réservation en ligne,
          votre destination unique pour des réservations rapides et faciles.
          Que vous planifiez des vacances,
          un voyage d'affaires ou une escapade de fin de semaine,
          nous vous offrons une plateforme conviviale pour trouver et réserver des hôtels,
          des vols, des voitures de location et bien plus encore.
          Notre mission est de simplifier le processus de réservation pour
          que vous puissiez vous concentrer sur ce qui compte vraiment :
          profiter de votre voyage.        </v-card-text>
  
        <v-divider></v-divider>
  
        <v-card-text class="black--text">
          <% new Date().getFullYear() %> — <strong>Youness CHAFKI</strong>
        </v-card-text>
      </v-card>
    </v-footer>
</v-content>
</v-app>
{{{vue}}}
</body>
</html>
  